<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>What The Text?!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/assets/javascript/dw_con_scroller.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/css/text_style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brandtitle brand-logo">
                <img class="logo" src="assets/img/logo.png">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="#">
                        <img class="ewemoji" src="assets/img/emojis/ewemoji.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="bffsemoji" src="assets/img/emojis/bffs.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lolemoji" src="assets/img/emojis/lolemoji.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="nsfwemoji" src="assets/img/emojis/nsfwemoji.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="failemoji" src="assets/img/emojis/failemoji.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="wtfemoji" src="assets/img/emojis/wtfemoji.png">
                    </a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">
                        <img class="fameemoji" src="assets/img/emojis/fameemoji2.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="shameemoji" src="assets/img/emojis/shameemoji2.png">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="door" src="assets/img/emojis/door.png">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="#">EW</a>
        </li>
        <li>
            <a href="#">BFF</a>
        </li>
        <li>
            <a href="#">LOL</a>
        </li>
        <li>
            <a href="#">NSFW</a>
        </li>
        <li>
            <a href="#">FAIL</a>
        </li>
        <li>
            <a href="#">WTFam</a>
        </li>
        <li>
            <a href="#">Hall Of Fame</a>
        </li>
        <li>
            <a href="#">Hall Of Shame</i>
            </a>
        </li>
        <li>
            <a href="#">Sign Out</i>
            </a>
        </li>
    </ul>
    {{{ body }}}
    <script type="text/javascript" src="/assets/javascript/materializejs.js"></script>
    <script type="text/javascript" src="/assets/javascript/materialize.min.js"></script>
</body>

</html>