<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=388344565010558&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));

</script>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brandtitle brand-logo">
            <img class="logo" src="assets/img/logo.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <img class="ewemoji onuserhome" src="assets/img/emojis/ewemoji.png">
            </li>
            <li>
                <img class="bffemoji onuserhome" src="assets/img/emojis/bffs.png">
            </li>
            <li>
                <img class="lolemoji onuserhome" src="assets/img/emojis/lolemoji.png">
            </li>
            <li>
                <img class="nsfwemoji onuserhome" src="assets/img/emojis/nsfwemoji.png">
            </li>
            <li>
                <img class="failemoji onuserhome" src="assets/img/emojis/failemoji.png">
            </li>
            <li>
                <img class="wtfamemoji onuserhome" src="assets/img/emojis/wtfemoji.png">
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/halloffame">
                    <img class="fameemoji onuserhome" src="assets/img/emojis/fameemoji2.png">
                </a>
            </li>
            <li>
                <a href="/hallofshame">
                    <img class="shameemoji onuserhome" src="assets/img/emojis/shameemoji2.png">
                </a>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <img class="door modal-trigger onuserhome" data-target="modalsignout" src="assets/img/emojis/door.png">
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a class="ewemoji">EW</a>
    </li>
    <li>
        <a class="bffemoji">BFF</a>
    </li>
    <li>
        <a class="lolemoji">LOL</a>
    </li>
    <li>
        <a class="nsfwemoji">NSFW</a>
    </li>
    <li>
        <a class="failemoji">FAIL</a>
    </li>
    <li>
        <a class="wtfamemoji">WTFam</a>
    </li>
    <li>
        <a href="/halloffame">Hall Of Fame</i>
        </a>
    </li>
    <li>
        <a href="/hallofshame">Hall Of Shame</i>
        </a>
    </li>
    <li>
        <a href="/logout" class="modal-trigger" data-target="modalsignout" href="#modalsignout">Sign Out</i>
        </a>
    </li>
</ul>

<div class="wrapper">
    <div class="row">
        <div class="col col s12 col m7 clickedtextarea">
            <div class="postedby">
                {{!-- Posted on
                <span id="datepost"></span>. --}}
            </div>
            {{!-- screenshot goes below --}}
            <div class="specifictext card">
            </div>

            <div class="textsharing">
                Sharing is caring!

                <div class="socialholder">
                    <div class="fb-share-button" data-href="https://rose-eat-da-burger.herokuapp.com" data-layout="button" data-size="small"
                        data-mobile-iframe="true">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frose-eat-da-burger.herokuapp.com%2F&amp;src=sdkpreparse"
                            class="fb-xfbml-parse-ignore">Share</a>
                    </div>
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=WHA%20THE%20TEXT%20is%20this?!">
                        <img class="socialicons twicon" src="assets/img/tw.png">
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m5 commentsarea">
            <div class="commentsonlysdiv">
                <div class="comments">
                </div>
                <div class="date">
                </div>
            </div>

            <form id="commentform">
                <div class="captiononlydiv">
                    <textarea id='commentTxtArea' type="text" class="form-control" placeholder="Say something about it..." rows="3" cols="10"></textarea>
                    <button class="btn waves-effect waves-light light-blue lighten-2 waves-green waves-ripple commentbutton"
                        type="submit">Comment</button>
                </div>
            </form>

            <div id="modalsignout" class="modal modal-close">
                <div class="modal-content">
                    <h4>Bye, foo-licia! 👋</h4>
                </div>
            </div>

        </div>

        {{!--
        <script type="text/javascript" src="assets/javascript/materializejs.js"></script> --}}

        <script>
            $(document).ready(function () {

                var textId = window.location.pathname.split("/").pop()
                $.get('/api/textfocusget/' + textId)
                    .then(function (response) {
                        console.log("response.id on page load: " + response.Comments.length);
                        for (var i = 0; i < response.Comments.length; i++) {
                            console.log(response.Comments[i].comment);
                            //var commentvar = ;
                            //var span = $("<span>");
                            //var br = $("<br>");
                            //var hr = $('<hr>');
                            //var commentdate = response.Comments[i].createdAt;

                            $('.comments').prepend(response.Comments[i].comment + '<br><br>' + response.Comments[i].createdAt + '<br><br>');

                            // var date = response.Text[i].dataValues.createdAt;
                            // $('.datepost').append(date);
                        }
                        //console.log("text:" + response.Text.dataValues.id);


                        var imageElem = $('<img class="commentdiv" src="' + response.image + '">')
                        $('.specifictext').html(imageElem);
                    });
                $("#commentform").on("submit", function (event) {
                    event.preventDefault();
                    window.location.href = '/userhome';
                    var comment = {
                        comment: $('#commentTxtArea').val(),
                        userId: 20,
                        textId: textId
                    };
                    $.ajax('/text/comments/create', {
                        type: 'POST',
                        data: comment
                    })
                        .then((response) => {
                            var comment = response.comment;
                            $('.comments').append(comment);
                            $.get('/text/comments')
                                .then(function (response) {
                                    console.log("Comment response:" + response)
                                });
                        })
                })

                $.get('/api/userhome')
                    .then((response) => {
                        for (var i = 0; i < response.length; i++) {
                            var imageElem = $('<a data-textId=' + response[i].id + ' href="/textfocus/' + response[i].id + '"><img class="whatthetextimg" src="' + response[i].image + '"></a>' + '<br>');
                            $('.everyonestextsdiv').prepend(imageElem);
                        }
                    });
                $('.lolemoji').on('click', function (request, response) {
                    $.get('/api/lol')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var lolElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(lolElem);
                            }
                        });
                });
                $('.ewemoji').on('click', function (request, response) {
                    $.get('/api/ew')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var ewElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(ewElem);
                            }
                        });
                });

                $('.bffemoji').on('click', function (request, response) {
                    $.get('/api/bff')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var bffElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(bffElem);
                            }
                        });
                });

                $('.lolemoji').on('click', function (request, response) {
                    $.get('/api/lol')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var lolElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(lolElem);
                            }
                        });
                });

                $('.nsfwemoji').on('click', function (request, response) {
                    $.get('/api/nsfw')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var nsfwElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(nsfwElem);
                            }
                        });
                });

                $('.failemoji').on('click', function (request, response) {
                    $.get('/api/fail')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var failElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(failElem);
                            }
                        });
                });

                $('.wtfamemoji').on('click', function (request, response) {
                    $.get('/api/wtfam')
                        .then((response) => {
                            $('.everyonestextsdiv').empty();
                            for (var i = 0; i < response.length; i++) {
                                var wtfamElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                                $('.everyonestextsdiv').prepend(wtfamElem);
                            }
                        });
                });

            })
        </script>