<nav>
    <div class="nav-wrapper">
        <a href="/" class="brandtitle brand-logo">
            <img class="logo" src="assets/img/logo.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <img class="ewemoji onuserhome" src="assets/img/emojis/ewemoji.png">
            </li>
            <li>
                <img class="bffemoji onuserhome" src="assets/img/emojis/bffs.png">
            </li>
            <li>
                <img class="lolemoji onuserhome" src="assets/img/emojis/lolemoji.png">
            </li>
            <li>
                <img class="nsfwemoji onuserhome" src="assets/img/emojis/nsfwemoji.png">
            </li>
            <li>
                <img class="failemoji onuserhome" src="assets/img/emojis/failemoji.png">
            </li>
            <li>
                <img class="wtfamemoji onuserhome" src="assets/img/emojis/wtfemoji.png">
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/halloffame">
                    <img class="fameemoji onuserhome" src="assets/img/emojis/fameemoji2.png">
                </a>
            </li>
            <li>
                <a href="/hallofshame">
                    <img class="shameemoji onuserhome" src="assets/img/emojis/shameemoji2.png">
                </a>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <img class="door modal-trigger onuserhome" data-target="modalsignout" src="assets/img/emojis/door.png">
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a class="ewemoji">EW</a>
    </li>
    <li>
        <a class="bffemoji">BFF</a>
    </li>
    <li>
        <a class="lolemoji">LOL</a>
    </li>
    <li>
        <a class="nsfwemoji">NSFW</a>
    </li>
    <li>
        <a class="failemoji">FAIL</a>
    </li>
    <li>
        <a class="wtfamemoji">WTFam</a>
    </li>
    <li>
        <a href="/halloffame">Hall Of Fame</i>
        </a>
    </li>
    <li>
        <a href="/hallofshame">Hall Of Shame</i>
        </a>
    </li>
    <li>
        <a class="modal-trigger" data-target="modalsignout" href="#modalsignout">Sign Out</i>
        </a>
    </li>
</ul>

<div class="wrapper">
    <div class="row">
        <div class="col s6 m12 l12 hoscategory center-align center">
            <img class="hoslong categorylogo" src="assets/img/emojis/hallofshamelong.png" alt="hallofshame logo">
        </div>
        <div class="row">
            <h5 class="categorytext col xs12 center">Where we shame the most awk and cringeworthy texts, or basically any text where you can't stop saying... "WHAT
                THE TEXT?!" </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s12 col m12 hostextsdiv">
            <h6 class="categorytext center">HALL OF SHAME Texts Feed</h6>
            <div class="hostexts categorytext center">
                <h2>Coming soon!</h2>
            </div>
        </div>
    </div>

    <div id="modalsignout" class="modal modal-close">
        <div class="modal-content">
            <h4>Bye, foo-licia! 👋</h4>
        </div>
    </div>

</div>

<script type="text/javascript" src="assets/javascript/uploadfile.js"></script>
    <script type="text/javascript" src="assets/javascript/materialize.min.js"></script>
    <script type="text/javascript" src="assets/javascript/materializejs.js"></script>

    <script>
        $(document).ready(function () {
            $('.lolemoji').on('click', function (request, response) {
                $.get('/api/lol')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var lolElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(lolElem);
                        }
                    });
            });
            $('.ewemoji').on('click', function (request, response) {
                $.get('/api/ew')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var ewElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(ewElem);
                        }
                    });
            });

            $('.bffemoji').on('click', function (request, response) {
                $.get('/api/bff')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var bffElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(bffElem);
                        }
                    });
            });

            $('.nsfwemoji').on('click', function (request, response) {
                $.get('/api/nsfw')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var nsfwElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(nsfwElem);
                        }
                    });
            });

            $('.failemoji').on('click', function (request, response) {
                $.get('/api/fail')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var failElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(failElem);
                        }
                    });
            });

            $('.wtfamemoji').on('click', function (request, response) {
                $.get('/api/wtfam')
                    .then((response) => {
                        $('.everyonestextsdiv').empty();
                        for (var i = 0; i < response.length; i++) {
                            var wtfamElem = $('<a data-textId=' + response[i].id + 'href="/textfocus/' + response[i].id + '"><img src="' + response[i].image + '"></a>');
                            $('.everyonestextsdiv').prepend(wtfamElem);
                        }
                    });
            });
        });
    </script>