<nav>
    <div class="nav-wrapper">
        <a href="/" class="brandtitle brand-logo">
            <img class="logo" src="assets/img/logo.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <img class="ewemoji onuserhome" src="assets/img/emojis/ewemoji.png">
            </li>
            <li>
                <img class="bffemoji onuserhome" src="assets/img/emojis/bffs.png">
            </li>
            <li>
                <img class="lolemoji onuserhome" src="assets/img/emojis/lolemoji.png">
            </li>
            <li>
                <img class="nsfwemoji onuserhome" src="assets/img/emojis/nsfwemoji.png">
            </li>
            <li>
                <img class="failemoji onuserhome" src="assets/img/emojis/failemoji.png">
            </li>
            <li>
                <img class="wtfamemoji onuserhome" src="assets/img/emojis/wtfemoji.png">
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/halloffame">
                    <img class="fameemoji onuserhome" src="assets/img/emojis/fameemoji2.png">
                </a>
            </li>
            <li>
                <a href="/hallofshame">
                    <img class="shameemoji onuserhome" src="assets/img/emojis/shameemoji2.png">
                </a>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <img class="door modal-trigger onuserhome" data-target="modalsignout" src="assets/img/emojis/door.png">
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a class="ewemoji">EW</a>
    </li>
    <li>
        <a class="bffemoji">BFF</a>
    </li>
    <li>
        <a class="lolemoji">LOL</a>
    </li>
    <li>
        <a class="nsfwemoji">NSFW</a>
    </li>
    <li>
        <a class="failemoji">FAIL</a>
    </li>
    <li>
        <a class="wtfamemoji">WTFam</a>
    </li>
    <li>
        <a href="/halloffame">Hall Of Fame</i>
        </a>
    </li>
    <li>
        <a href="/hallofshame">Hall Of Shame</i>
        </a>
    </li>
    <li>
        <a href="/logout" class="modal-trigger" data-target="modalsignout" href="#modalsignout">Sign Out</i>
        </a>
    </li>
</ul>
<div class="wrapper">
    <div class="row">
        <form id="updatetextform">
            {{!-- method="put" enctype='multipart/form-data' action="/api/text/bla" --}}
            <div class="col s4 col m4 textcaption left">
                <textarea id='caption' type="text" class="form-control" placeholder="Type your caption here" rows="3" cols="10"></textarea>
            </div>

            <div class="col col s8 col m8 textupload right">Text screenshot goes here</div>

            <div class="col s4 col m4 textcategoriesdiv left">Check the categories that best fit your text:
                <div class="form-check textcategories">
                    <p>
                        <label>
                            <input type="checkbox" class="ewcategory checkBoxCat" name='category' id="ew" />
                            <span class="categorytext">EW</span>
                        </label>
                        <label>
                            <input type="checkbox" class="bffcategory checkBoxCat" name='category' id="bff" />
                            <span class="categorytext">BFF</span>
                        </label>
                        <label>
                            <input type="checkbox" class="lolcategory checkBoxCat" name='category' id="lol" />
                            <span class="categorytext">LOL</span>
                        </label>
                        <label>
                            <input type="checkbox" class="nsfwcategory checkBoxCat" name='category' id="nsfw" />
                            <span class="categorytext">NSFW</span>
                        </label>
                        <label>
                            <input type="checkbox" class="failcategory checkBoxCat" name='category' id="fail" />
                            <span class="categorytext">FAIL</span>
                        </label>
                        <label>
                            <input type="checkbox" class="wtfamcategory checkBoxCat" name='category' id="wtfam" />
                            <span class="categorytext">WTFam</span>
                        </label>
                    </p>
                </div>
            </div>

            <button class="btn btn-primary textuploadsubmit light-blue modal-trigger" type="submit" data-target="modalsubmit">Submit</button>

            <div id="modalsubmit" class="modal modal-close">
                <div class="modal-content">
                    <h4>Thx for submitting ur text!</h4>
                </div>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript" src="assets/javascript/materialize.min.js"></script>
<script type="text/javascript" src="assets/javascript/materializejs.js"></script>

<script>
    $(document).ready( () => {

        $.get('/api/submit-text-img')
        .then( (response) => {
            var textId = response.id
            console.log("response.id on page load: " + textId)
            var imageElem = $('<img src="' + response.image + '">')
            $('.textupload').html(imageElem);

            $("#updatetextform").on("submit", (event) => {
                event.preventDefault();

                if ($('#ew').prop('checked')) { var ewV = 1 } else { var ewV = 0 };
                if ($('#bff').prop('checked')) { var bffV = 1 } else { var bffV = 0 };
                if ($('#lol').prop('checked')) { var lolV = 1 } else { var lolV = 0 };
                if ($('#nsfw').prop('checked')) { var nsfwV = 1 } else { var nsfwV = 0 };
                if ($('#fail').prop('checked')) { var failV = 1 } else { var failV = 0 };
                if ($('#wtfam').prop('checked')) { var wtfamV = 1 } else { var wtfamV = 0 };

                var updatedText = {
                    id: textId,
                    caption: $("#caption").val(),
                    ew: ewV,
                    bff: bffV,
                    lol: lolV,
                    nsfw: nsfwV,
                    fail: failV,
                    wtfam: wtfamV,
                };
                console.log(updatedText);

                $.ajax('/api/submit-txt-img', {
                    type: "PUT",
                    data: updatedText
                })
                .then(function successModal() {
                    $('.modal').modal({
                        onOpenEnd: function () {
                            setTimeout(function () {
                                window.location.href = '/userhome';
                            }, 500);
                        }
                    })
                })
            })
        })
    })
</script>